parameters:

    paths:
        - src

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Function base_path not found.#'
        - '#Function resource_path not found.#'
        - '#Function public_path not found.#'
        - '#Function app_path not found.#'
        - '#Function app not found.#'

    checkMissingIterableValueType: false
